# Jupyter Notebook checkpoints
**/*.ipynb_checkpoints

# Python cache and related directories
.mypy_cache
.pytest_cache
.ruff_cache
**/__pycache__

# Specific directories' cache
notebooks/.pytest_cache
playground/__pycache__
scripts/__pycache__
tests/__pycache__

# Development tools configurations
.vscode

# Miscellaneous
_linkedin
_posts
.coverage
models/prices
playground
